@import "normalize.css";
@import "override-element-ui.css";
@import "font-base.css";

/*伪类，用于获取根元素，这里也就是html*/
/*这里定义了一些css的变量*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-size: 16px;
  --line-height: 1.15;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-family: var(--font-family-sans-serif);
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--white);
  color: var(--dark);
  width: 100%;
  /*height: 100%;*/
  font-size: var(--font-size);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
  overflow-x: hidden;
  text-align: left;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  overflow: auto;
}
/*body{overflow:hidden}*/
/*html{overflow: auto; }*/
a {
  color: var(--dark);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.the_show {
  display: block;
}
.the_hidden {
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1340px;
  }
}


@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #24292e;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
}
dl,ol,ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.column-inner {
  padding: 0 15px;
}
.wrapper {
  padding: 0;
  margin: 0;
}

.content-element {
  margin-bottom: 35px;
}
